.display-questions-container {
  color: #fefdf8;
  margin: auto;
  text-align: center;
}

.display-question {
  text-align: center;
  border: 3px solid #ffe52e;
  padding: 1em;
  border-radius: 1em;
}

ul {
  list-style: none;
}
/* ol {
  list-style-type: lower-alpha;
} */

li {
  text-align: center;
  border: 3px solid #ffe52e;
  padding: 0.25em;
  margin: 1em;
  border-radius: 1em;
  width: 300px;
  /* display: inline-block; */
  float: left;
}

li:nth-child(odd) {
  clear: left;
}

li:hover {
  background-color: #f5f542;
  color: black;
}

@keyframes blinking {
  0% {
    background-color: #f5f542;
    color: black;
  }
  /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT
  50%{
    background-color: #55d66b;
    border: 5px solid #126620;
  }
  */
  100% {
    background-color: #42f5aa;
  }
}
.matchedAnswer {
  /* NAME | TIME | ITERATION */
  animation: blinking 1s infinite;
}

.selectedAnswer {
  background-color: #f5f542;
  color: black;
}

.correctAnswer {
  background-color: #42f5aa;
}

.disabledOption {
  pointer-events: none;
}

.disabledList {
  cursor: not-allowed;
}
